In [1]:
import os
os.chdir('..')

In [2]:
print(os.getcwd())

/Users/vannyzhang/Desktop

In [3]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

import pandas as pd
import tarfile
from six.moves import urllib
environment = pd.read_csv('datasets/environment/environment.csv')
environment.head()

,stfips,COUNTY_NAME,STATE,fips,A_PM10_mean,A_PM25_mean,A_SO2_mean,A_NO2_mean,A_CO_mean,Per_TotPopSS_ave,...,Rented,Vacant,House_price,Median_Income,Poverty_rate,No_English,HSgraduates,Unemployment,med_rooms,Violance_index
0,1001,Autauga County,AL,1001,15.072996,12.058188,10.661088,123.657648,4.463225,10.82,...,19.17141,9.393047,94800,42013,10.9,2.8,78.7,4.9,5.8,428.29999
1,1003,Baldwin County,AL,1003,19.994603,11.119909,17.146847,247.742253,12.875833,19.58,...,20.42070,25.508510,122500,40250,10.1,4.0,82.0,4.3,5.3,482.54999
2,1005,Barbour County,AL,1005,15.772306,12.360454,23.257118,183.193624,19.620539,15.12,...,26.84216,16.467380,68600,25101,26.8,3.6,64.7,5.7,5.3,342.10001
3,1007,Bibb County,AL,1007,14.921319,12.239906,7.630953,127.779935,2.951976,10.53,...,19.80865,11.072500,74600,31420,20.6,1.8,63.2,6.2,5.4,502.25555
4,1009,Blount County,AL,1009,17.895015,12.974281,8.913795,95.198094,9.362215,16.23,...,16.51181,8.946970,86800,35241,11.7,5.6,70.4,4.8,5.5,0.00000

In [4]:
%matplotlib inline
#import matplotlib
#import matplotlib.pyplot as plt
#plt.rcParams['axes.labelsize'] = 14
#plt.rcParams['xtick.labelsize'] = 12
#plt.rcParams['ytick.labelsize'] = 12

#import pandas as pd
#import tarfile
#from six.moves import urllib

#DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
#ENVIRONMENT_PATH = os.path.join("datasets", "environment")
#ENVIRONMENT_URL = DOWNLOAD_ROOT + "datasets/environment/environment.csv"

#def load_environment_data(environment_path=ENVIRONMENT_PATH):
    #csv_path = os.path.join(environment_path, "environment.csv")
    #return pd.read_csv(csv_path)
#environment = load_environment_data()
#environment.head()

In [5]:
environment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3141 entries, 0 to 3140
Data columns (total 28 columns):
stfips              3141 non-null int64
COUNTY_NAME         3141 non-null object
STATE               3141 non-null object
fips                3141 non-null int64
A_PM10_mean         3141 non-null float64
A_PM25_mean         3141 non-null float64
A_SO2_mean          3141 non-null float64
A_NO2_mean          3141 non-null float64
A_CO_mean           3141 non-null float64
Per_TotPopSS_ave    3141 non-null float64
SO4Ave              3141 non-null float64
HgAve               3141 non-null float64
AvgOfD3_ave         3141 non-null float64
MEAN_AS             3141 non-null float64
MEAN_HG             3141 non-null float64
MEAN_PB             3141 non-null float64
fatal_rate          3141 non-null float64
Population          3141 non-null int64
Rented              3141 non-null float64
Vacant              3141 non-null float64
House_price         3141 non-null int64
Median_Income       3141 non-null int64
Poverty_rate        3141 non-null float64
No_English          3141 non-null float64
HSgraduates         3141 non-null float64
Unemployment        3141 non-null float64
med_rooms           3141 non-null float64
Violance_index      3141 non-null float64
dtypes: float64(21), int64(5), object(2)
memory usage: 687.2+ KB

1. Show correlation matrix between house price and pollution indicators A_PM10_mean , A_PM25_mean, A_SO2_mean, A_NO2_mean, A_CO_mean. What can you say about correlation between house price and pollution?

In [6]:
attributes = ["House_price",'A_PM10_mean', 'A_PM25_mean', 'A_SO2_mean', 'A_NO2_mean', 'A_CO_mean']

In [7]:
corr_matrix = environment[attributes].corr()

In [8]:
corr_matrix['House_price'].sort_values(ascending=False)

House_price    1.000000
A_PM10_mean    0.340191
A_NO2_mean     0.207452
A_CO_mean      0.111495
A_SO2_mean     0.060931
A_PM25_mean    0.052065
Name: House_price, dtype: float64

Problem 2 <br>
a. Create variables: log(population) and the interaction  PM =  A_PM10_mean  * A_PM25_mean.   <br>
b. Drop [stfips', 'COUNTY_NAME','fips'] <br>
c. Create binary variable for each State <br>
d. move  House_price to the first column <br>

In [9]:
environment.head()

,stfips,COUNTY_NAME,STATE,fips,A_PM10_mean,A_PM25_mean,A_SO2_mean,A_NO2_mean,A_CO_mean,Per_TotPopSS_ave,...,Rented,Vacant,House_price,Median_Income,Poverty_rate,No_English,HSgraduates,Unemployment,med_rooms,Violance_index
0,1001,Autauga County,AL,1001,15.072996,12.058188,10.661088,123.657648,4.463225,10.82,...,19.17141,9.393047,94800,42013,10.9,2.8,78.7,4.9,5.8,428.29999
1,1003,Baldwin County,AL,1003,19.994603,11.119909,17.146847,247.742253,12.875833,19.58,...,20.42070,25.508510,122500,40250,10.1,4.0,82.0,4.3,5.3,482.54999
2,1005,Barbour County,AL,1005,15.772306,12.360454,23.257118,183.193624,19.620539,15.12,...,26.84216,16.467380,68600,25101,26.8,3.6,64.7,5.7,5.3,342.10001
3,1007,Bibb County,AL,1007,14.921319,12.239906,7.630953,127.779935,2.951976,10.53,...,19.80865,11.072500,74600,31420,20.6,1.8,63.2,6.2,5.4,502.25555
4,1009,Blount County,AL,1009,17.895015,12.974281,8.913795,95.198094,9.362215,16.23,...,16.51181,8.946970,86800,35241,11.7,5.6,70.4,4.8,5.5,0.00000

In [10]:
import numpy as np
#A_PM10_mean_ix, A_PM25_mean_ix, population_ix = 4, 5, 17
#a=environment.values[:,17]
environment['lpopulation']=np.log(environment['Population'])
environment['interception']=np.multiply(environment['A_PM10_mean'],environment['A_PM25_mean'])
environment.head()
#X1.append(math.log(i) for i in X)
#print(len(X1)

,stfips,COUNTY_NAME,STATE,fips,A_PM10_mean,A_PM25_mean,A_SO2_mean,A_NO2_mean,A_CO_mean,Per_TotPopSS_ave,...,House_price,Median_Income,Poverty_rate,No_English,HSgraduates,Unemployment,med_rooms,Violance_index,lpopulation,interception
0,1001,Autauga County,AL,1001,15.072996,12.058188,10.661088,123.657648,4.463225,10.82,...,94800,42013,10.9,2.8,78.7,4.9,5.8,428.29999,10.684440,181.753024
1,1003,Baldwin County,AL,1003,19.994603,11.119909,17.146847,247.742253,12.875833,19.58,...,122500,40250,10.1,4.0,82.0,4.3,5.3,482.54999,11.852358,222.338165
2,1005,Barbour County,AL,1005,15.772306,12.360454,23.257118,183.193624,19.620539,15.12,...,68600,25101,26.8,3.6,64.7,5.7,5.3,342.10001,10.276361,194.952864
3,1007,Bibb County,AL,1007,14.921319,12.239906,7.630953,127.779935,2.951976,10.53,...,74600,31420,20.6,1.8,63.2,6.2,5.4,502.25555,9.943957,182.635549
4,1009,Blount County,AL,1009,17.895015,12.974281,8.913795,95.198094,9.362215,16.23,...,86800,35241,11.7,5.6,70.4,4.8,5.5,0.00000,10.840051,232.174944

In [11]:
# Create features
#from sklearn.base import BaseEstimator, TransformerMixin

# column index
#A_PM10_mean_ix, A_PM25_mean_ix, population_ix = 4, 5, 17

#class CombinedAttributesAdder(BaseEstimator, TransformerMixin):
    
    #def fit(self, X, y=None):
        #return self  # nothing else to do
    #def transform(self, X, y=None):
        # Crate a new feature in the matrix form
        #lpopulation = math.log(X[:,population_ix])
        #PM = X[:, A_PM10_mean_ix] * X[:, A_PM25_mean_ix]
            
        #return np.c_[X, PM]
        
# Set hyperparameter as False
#attr_adder = CombinedAttributesAdder()
# Run the code with hyperparameter as False
#environment_extra_attribs = attr_adder.transform(environment.values)
#environment_extra_attribs

In [12]:
e1=environment.drop('stfips', axis=1)
e2=e1.drop('COUNTY_NAME', axis=1)
e3=e2.drop('fips', axis=1)
e3.head()

,STATE,A_PM10_mean,A_PM25_mean,A_SO2_mean,A_NO2_mean,A_CO_mean,Per_TotPopSS_ave,SO4Ave,HgAve,AvgOfD3_ave,...,House_price,Median_Income,Poverty_rate,No_English,HSgraduates,Unemployment,med_rooms,Violance_index,lpopulation,interception
0,AL,15.072996,12.058188,10.661088,123.657648,4.463225,10.82,1.0525,5.2597,5.54,...,94800,42013,10.9,2.8,78.7,4.9,5.8,428.29999,10.684440,181.753024
1,AL,19.994603,11.119909,17.146847,247.742253,12.875833,19.58,0.9975,5.0418,6.81,...,122500,40250,10.1,4.0,82.0,4.3,5.3,482.54999,11.852358,222.338165
2,AL,15.772306,12.360454,23.257118,183.193624,19.620539,15.12,0.9815,5.9058,6.22,...,68600,25101,26.8,3.6,64.7,5.7,5.3,342.10001,10.276361,194.952864
3,AL,14.921319,12.239906,7.630953,127.779935,2.951976,10.53,1.0463,4.9139,5.04,...,74600,31420,20.6,1.8,63.2,6.2,5.4,502.25555,9.943957,182.635549
4,AL,17.895015,12.974281,8.913795,95.198094,9.362215,16.23,1.2043,5.3837,4.40,...,86800,35241,11.7,5.6,70.4,4.8,5.5,0.00000,10.840051,232.174944

In [13]:
from sklearn.preprocessing import LabelBinarizer
encoder=LabelBinarizer()
state=environment[['STATE']]
state_b=encoder.fit_transform(state)
state_b

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [14]:
house_price = e3['House_price']
e3.drop(labels=['House_price'], axis=1,inplace = True)
e3.insert(0, 'House_price', house_price)
e3.head()

,House_price,STATE,A_PM10_mean,A_PM25_mean,A_SO2_mean,A_NO2_mean,A_CO_mean,Per_TotPopSS_ave,SO4Ave,HgAve,...,Vacant,Median_Income,Poverty_rate,No_English,HSgraduates,Unemployment,med_rooms,Violance_index,lpopulation,interception
0,94800,AL,15.072996,12.058188,10.661088,123.657648,4.463225,10.82,1.0525,5.2597,...,9.393047,42013,10.9,2.8,78.7,4.9,5.8,428.29999,10.684440,181.753024
1,122500,AL,19.994603,11.119909,17.146847,247.742253,12.875833,19.58,0.9975,5.0418,...,25.508510,40250,10.1,4.0,82.0,4.3,5.3,482.54999,11.852358,222.338165
2,68600,AL,15.772306,12.360454,23.257118,183.193624,19.620539,15.12,0.9815,5.9058,...,16.467380,25101,26.8,3.6,64.7,5.7,5.3,342.10001,10.276361,194.952864
3,74600,AL,14.921319,12.239906,7.630953,127.779935,2.951976,10.53,1.0463,4.9139,...,11.072500,31420,20.6,1.8,63.2,6.2,5.4,502.25555,9.943957,182.635549
4,86800,AL,17.895015,12.974281,8.913795,95.198094,9.362215,16.23,1.2043,5.3837,...,8.946970,35241,11.7,5.6,70.4,4.8,5.5,0.00000,10.840051,232.174944

In [15]:
e4=e3.drop('House_price', axis=1)
environment_labels = environment["House_price"]
e4.head()

,STATE,A_PM10_mean,A_PM25_mean,A_SO2_mean,A_NO2_mean,A_CO_mean,Per_TotPopSS_ave,SO4Ave,HgAve,AvgOfD3_ave,...,Vacant,Median_Income,Poverty_rate,No_English,HSgraduates,Unemployment,med_rooms,Violance_index,lpopulation,interception
0,AL,15.072996,12.058188,10.661088,123.657648,4.463225,10.82,1.0525,5.2597,5.54,...,9.393047,42013,10.9,2.8,78.7,4.9,5.8,428.29999,10.684440,181.753024
1,AL,19.994603,11.119909,17.146847,247.742253,12.875833,19.58,0.9975,5.0418,6.81,...,25.508510,40250,10.1,4.0,82.0,4.3,5.3,482.54999,11.852358,222.338165
2,AL,15.772306,12.360454,23.257118,183.193624,19.620539,15.12,0.9815,5.9058,6.22,...,16.467380,25101,26.8,3.6,64.7,5.7,5.3,342.10001,10.276361,194.952864
3,AL,14.921319,12.239906,7.630953,127.779935,2.951976,10.53,1.0463,4.9139,5.04,...,11.072500,31420,20.6,1.8,63.2,6.2,5.4,502.25555,9.943957,182.635549
4,AL,17.895015,12.974281,8.913795,95.198094,9.362215,16.23,1.2043,5.3837,4.40,...,8.946970,35241,11.7,5.6,70.4,4.8,5.5,0.00000,10.840051,232.174944

3. Create and run a pipeline that standardize the data

In [16]:
from sklearn.preprocessing import Imputer
imputer = Imputer(strategy="median") 
environment_num = e4.drop('STATE', axis=1)
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([('imputer', Imputer(strategy="median")),('std_scaler', StandardScaler()),])
environment_num_tr = num_pipeline.fit_transform(environment_num)
environment_num_tr

array([[ 0.77799631,  0.95486134, -0.52057132, ...,  0.19533271,
         0.32648955,  0.961499  ],
       [ 1.76757461,  0.59139389, -0.50347262, ...,  0.39434837,
         1.15405654,  1.54373007],
       [ 0.91860531,  1.07195193, -0.48736384, ..., -0.12089119,
         0.03733171,  1.15086281],
       ...,
       [-0.57384742, -1.17190294, -0.37602147, ..., -1.02847606,
        -0.23608002, -0.85917255],
       [-0.8029942 , -1.26418929, -0.13285054, ..., -0.51201208,
        -0.85100189, -0.99119659],
       [-1.4163067 , -1.68804071,  2.63405867, ..., -0.51501371,
        -1.0077512 , -1.33347579]])

Using cross validation with 5 folds predict and report RMSE using linear regression with and without State indicators. Which one is better?

In [17]:
from sklearn.base import TransformerMixin #gives fit_transform method for free
class MyLabelBinarizer(TransformerMixin):
    def __init__(self, *args, **kwargs):
        self.encoder = LabelBinarizer(*args, **kwargs)
    def fit(self, x, y=0):
        self.encoder.fit(x)
        return self
    def transform(self, x, y=0):
        return self.encoder.transform(x)

In [18]:
from sklearn.base import BaseEstimator, TransformerMixin

# Create a class to select numerical or categorical columns 
# since Scikit-Learn doesn't handle DataFrames yet
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values

In [19]:
num_attribs = list(environment_num)
# List of categorical variables
cat_attribs = ["STATE"]

num_pipeline = Pipeline([
        ('selector', DataFrameSelector(num_attribs)),
        ('imputer', Imputer(strategy="median")),
        ('std_scaler', StandardScaler()),
    ])

cat_pipeline = Pipeline([
        ('selector', DataFrameSelector(cat_attribs)),
        ('lab_encoder',  MyLabelBinarizer()),
    ])

In [20]:
from sklearn.pipeline import FeatureUnion
# Run a pipeline for categorical and numerical features
full_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])

In [21]:
environment_prepared = full_pipeline.fit_transform(environment)
environment_prepared

array([[ 0.77799631,  0.95486134, -0.52057132, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.76757461,  0.59139389, -0.50347262, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.91860531,  1.07195193, -0.48736384, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.57384742, -1.17190294, -0.37602147, ...,  0.        ,
         0.        ,  1.        ],
       [-0.8029942 , -1.26418929, -0.13285054, ...,  0.        ,
         0.        ,  1.        ],
       [-1.4163067 , -1.68804071,  2.63405867, ...,  0.        ,
         0.        ,  1.        ]])

In [22]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
from sklearn.model_selection import cross_val_score
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())
lin_scores = cross_val_score(lin_reg, environment_prepared, environment_labels,
                             scoring="neg_mean_squared_error", cv=5)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [5.26672645e+15 2.00299737e+17 5.89256163e+16 1.44258330e+16
 5.41253382e+16]
Mean: 6.6608650200834e+16
Standard deviation: 7.010570139057085e+16

In [23]:
lin_scores = cross_val_score(lin_reg, environment_num_tr, environment_labels,
                             scoring="neg_mean_squared_error", cv=5)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores) # without STATE is better

Scores: [40711.9785395  24105.62897601 35960.45760037 17055.30143151
 27979.57112699]
Mean: 29162.587534876628
Standard deviation: 8404.263257194843

Problem 4. Using cross validation with 5 folds predict and report RMSE using regression tree with and without State indicators. Which one is better? Use random_state = 42

In [24]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(random_state=42)
scores = cross_val_score(tree_reg, environment_prepared, environment_labels,
                         scoring="neg_mean_squared_error", cv=5)
# The scores the negative MSE, so we use "minus" in the square root. This is just a feature of cross-validation
tree_rmse_scores = np.sqrt(-scores)
display_scores(tree_rmse_scores)

Scores: [90539.27073023 26836.71907007 39411.49034255 16454.989273
 29548.55849136]
Mean: 40558.205581441565
Standard deviation: 26037.966075668708

In [25]:
scores = cross_val_score(tree_reg, environment_num_tr, environment_labels,
                         scoring="neg_mean_squared_error", cv=5)
# The scores the negative MSE, so we use "minus" in the square root. This is just a feature of cross-validation
tree_rmse_scores = np.sqrt(-scores)
display_scores(tree_rmse_scores) # without is better

Scores: [74991.08249266 25848.24619215 35480.70234444 16293.59170267
 29575.79973452]
Mean: 36437.88449328936
Standard deviation: 20259.745567329603

Problem 6. Do a Randomize Grid Search of forest regression with the n_estimators (1-20), the number of features (1-20) with 30 interactions,cv = 5, and random_state=42. <br> Which is the optimal number of feautres and estimators? <br> Which are the five most important features?

In [37]:
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor(random_state=42)
forest_reg.fit(environment_num_tr, environment_labels)
forest_scores = cross_val_score(forest_reg, environment_num_tr, environment_labels,
                                scoring="neg_mean_squared_error", cv=5)
forest_rmse_scores = np.sqrt(-forest_scores)
display_scores(forest_rmse_scores)

Scores: [60147.14367437 20572.40784377 36939.5563148  14011.33303805
 22841.96223173]
Mean: 30902.480620542825
Standard deviation: 16423.701330658598

In [38]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

# Set the range of parameters
param_distribs = {
        'n_estimators': randint(low=1, high=20),
        'max_features': randint(low=1, high=20),
    }

forest_reg = RandomForestRegressor(random_state=42)
# Set the number of iterations as 10
rnd_search = RandomizedSearchCV (forest_reg, param_distributions=param_distribs,
                                n_iter=30, cv=5, scoring='neg_mean_squared_error', random_state=42)
rnd_search.fit(environment_num_tr, environment_labels)

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False),
          fit_params=None, iid=True, n_iter=30, n_jobs=1,
          param_distributions={'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x111e01ba8>, 'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x111e01080>},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring='neg_mean_squared_error',
          verbose=0)

In [28]:
cvres = rnd_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)
# Best model has RMSE = 49147, slightly lower than the previous grid search. It's possible to improve result with 
# more time/computing power

29961.474937112198 {'max_features': 7, 'n_estimators': 15}
34440.612605813454 {'max_features': 11, 'n_estimators': 8}
30573.37931150874 {'max_features': 7, 'n_estimators': 19}
32705.315425080196 {'max_features': 11, 'n_estimators': 11}
32005.567895657834 {'max_features': 4, 'n_estimators': 8}
38828.56991252814 {'max_features': 3, 'n_estimators': 2}
33033.70429933419 {'max_features': 12, 'n_estimators': 6}
46625.24660879666 {'max_features': 2, 'n_estimators': 1}
30200.169108382674 {'max_features': 12, 'n_estimators': 12}
33107.2992490991 {'max_features': 17, 'n_estimators': 10}
32132.16019506067 {'max_features': 16, 'n_estimators': 15}
30786.787927169506 {'max_features': 15, 'n_estimators': 19}
36107.58281189145 {'max_features': 12, 'n_estimators': 3}
29467.31846493104 {'max_features': 5, 'n_estimators': 19}
31187.55839021877 {'max_features': 7, 'n_estimators': 9}
30475.3937090032 {'max_features': 7, 'n_estimators': 18}
30334.685303939164 {'max_features': 4, 'n_estimators': 14}
31740.049059830348 {'max_features': 18, 'n_estimators': 9}
31408.701107850706 {'max_features': 2, 'n_estimators': 15}
29351.99765660873 {'max_features': 7, 'n_estimators': 12}
31234.414915962232 {'max_features': 8, 'n_estimators': 15}
29929.556818154477 {'max_features': 3, 'n_estimators': 14}
33911.84995671876 {'max_features': 17, 'n_estimators': 4}
32802.684113363415 {'max_features': 18, 'n_estimators': 8}
38443.2509464336 {'max_features': 4, 'n_estimators': 2}
32036.55140446398 {'max_features': 6, 'n_estimators': 10}
29759.564933034242 {'max_features': 4, 'n_estimators': 18}
33197.40120792417 {'max_features': 12, 'n_estimators': 2}
32772.59133479282 {'max_features': 10, 'n_estimators': 4}
31055.60012714626 {'max_features': 14, 'n_estimators': 16}

In [39]:
from sklearn.model_selection import GridSearchCV

# n_estimators is the number of trees in the forest. max_features is the largest number of features in a forest,
# boostrap is the estimation of forest average by randomly dropping some trees. 
param_grid = [
    # try 12 (3Ã—4) combinations of hyperparameters
    {'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]},
    # then try 6 (2Ã—3) combinations with bootstrap set as False
    {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]},
  ]

forest_reg = RandomForestRegressor(random_state=42)
# train across 5 folds, that's a total of (12+6)*5=90 rounds of training 
grid_search = GridSearchCV(forest_reg, param_grid, cv=5,
                           scoring='neg_mean_squared_error', return_train_score=True)
grid_search.fit(environment_num_tr, environment_labels)

GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid=[{'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]}, {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='neg_mean_squared_error', verbose=0)

In [32]:
feature_importances = grid_search.best_estimator_.feature_importances_
feature_importances

array([0.03160446, 0.02209791, 0.01446022, 0.01640649, 0.01673149,
       0.01094397, 0.04988051, 0.0457279 , 0.01397363, 0.0117588 ,
       0.03611019, 0.03029857, 0.0233755 , 0.05375397, 0.05172149,
       0.03527992, 0.20666072, 0.06384778, 0.0357977 , 0.06526182,
       0.02441788, 0.04084679, 0.01117168, 0.06669019, 0.02118043])

In [42]:
attributes = list(environment_num)
sorted(zip(feature_importances, attributes), reverse=True)

[(0.206660716887172, 'Median_Income'),
 (0.06669019396940315, 'lpopulation'),
 (0.06526182441023713, 'HSgraduates'),
 (0.06384778289662489, 'Poverty_rate'),
 (0.05375397032328875, 'Population'),
 (0.05172148563140087, 'Rented'),
 (0.04988051061201793, 'SO4Ave'),
 (0.045727903530206976, 'HgAve'),
 (0.04084679146149519, 'med_rooms'),
 (0.036110187796025046, 'MEAN_HG'),
 (0.035797696589478956, 'No_English'),
 (0.03527991928128916, 'Vacant'),
 (0.031604458459332914, 'A_PM10_mean'),
 (0.030298568566794564, 'MEAN_PB'),
 (0.024417881886457625, 'Unemployment'),
 (0.02337550267939967, 'fatal_rate'),
 (0.02209790658644639, 'A_PM25_mean'),
 (0.021180429627670513, 'interception'),
 (0.01673148740532462, 'A_CO_mean'),
 (0.016406488073261744, 'A_NO2_mean'),
 (0.014460219545339787, 'A_SO2_mean'),
 (0.013973625375284739, 'AvgOfD3_ave'),
 (0.011758804120187628, 'MEAN_AS'),
 (0.011171675448211883, 'Violance_index'),
 (0.010943968837647897, 'Per_TotPopSS_ave')]